<mdb-accordion [multiple]="true" *ngIf="posts.length > 0">
  <mdb-accordion-item *ngFor="let post of posts">
    <mdb-accordion-item-head>
      {{ post.title }}
    </mdb-accordion-item-head>
    <div class="post-iamge">
      <img src="post.imagePath" [alt]="post.title" />
    </div>
    <mdb-accordion-item-body>
      <p>{{ post.content }}</p>
      <div>
        <a mdbBtn color="primary" mdbWavesEffect [routerLink]="['/edit', post.id]">EDIT</a>
      <button mdbBtn color="danger" mdbWavesEffect (click)="onDelete(post.id)">DELETE</button>
        </div>
    </mdb-accordion-item-body>
  </mdb-accordion-item>
  <p class="info-text lead" *ngIf="posts.length <= 0">No posts added yet!</p>


