@import '~ng-uikit-pro-standard/assets/scss/core/mixins';
@import '~ng-uikit-pro-standard/assets/scss/core/colors';
@import '~ng-uikit-pro-standard/assets/scss/core/variables';
@import '~ng-uikit-pro-standard/assets/scss/core/variables-pro';
@import '~ng-uikit-pro-standard/assets/scss/core/msc/skins-pro';

* {
  margin: 0;
  padding: 0;
}

.full-logo {
  background-color: black;
}
@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
}

.site-nav {
  background-color: red;
}

.nav-link {
  color: white;
}

.navbar-brand {
  color: white;
}

.search-bar {
  color: white !important;
  text-decoration: none !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
