@import '~ng-uikit-pro-standard/assets/scss/core/mixins';
@import '~ng-uikit-pro-standard/assets/scss/core/colors';
@import '~ng-uikit-pro-standard/assets/scss/core/variables';
@import '~ng-uikit-pro-standard/assets/scss/core/variables-pro';
@import '~ng-uikit-pro-standard/assets/scss/core/msc/skins-pro';


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: solid;
  color: black;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

