<body>
  <div class="flex-grid">
  <div class="col"></div>
  <div class="col" style="text-align: justify;">
    <mdb-card>
      <!--Card image-->
      <mdb-card-img src="/assets/images/GEEK.png" alt="Card image cap"></mdb-card-img>
      <!--Card content-->
      <mdb-card-body>

        <!--Title-->
        <mdb-card-title>
          <h4>About the Author: Ben Muzzy</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text> <p>Hi! My name is Ben Muzzy and I am a lover of technology. I had worked in technology my whole adult career and absolutely loved it. Even with having Cerebral Palsy I was able to work in several areas of IT including helpdesk, desktop support,
          network administration, and even software development/quality assurance.
        </p>
        <p>In 2019 though I was diagnosed with a second neurological condition called Functional Neurological Disorder. This condition has affected my life on so many different levels and the worst part is there is no cure.</p>
        <p>My FND has gotten so bad I'm unable to perform required job duties at any company, so I decided to create this site to help spread my love of tech to all of you and hopefully help some of you with your tech problems.</p>
        </mdb-card-text>

        <a href="#" mdbBtn color="primary" mdbWavesEffect>Click Here to Contact Me</a>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col"></div>
</div>
</body>
