<!-- Full Page Intro -->
<div
  class="view"
  style="
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  "
>
  <!-- Mask & flexbox options-->
  <div
    class="mask d-flex justify-content-center align-items-center"
    style="background-image: linear-gradient(red, black);"
  >
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div
          class="col-md-7 white-text text-center text-md-left mt-xl-1 mb-5 wow fadeInLeft"
          data-wow-delay="0.3s"
        >
          <h1 class="h1-responsive font-weight-bold mt-sm-5">
            Welcome to Muzz Tech Bytes!
          </h1>
          <hr class="hr-light" />
          <h6 class="mb-4">
            Muzz Tech Bytes a place where you can come to read articles and
            watch video tutorials on computer tech, or ask questions in the
            community area. Click &quot;Learn More&quot; below to find out who I
            am and why I created this site
          </h6>
          <a
            mdbBtn
            color="white"
            outline="true"
            routerLink="/about"
            mdbWavesEffect
            >Learn more</a
          >
        </div>
        <!--Grid column-->
        <div
          class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight"
          data-wow-delay="0.3s"
        >
          <p></p>
          <p>
            <img src="../../assets/images/logo.png" alt="" class="img-fluid" />
          </p>
        </div>

        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
