  <body>
  <div class="container-fluid">
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome to Muzz Tech Bytes!</h1>
          <p>Muzz Tech Bytes a place where you can come to read articles and watch video tutorials on computer tech, or ask questions in the community area. Click &quot;Learn More&quot; below to find out who I am and why I created this site.</p>
          <p><a class="btn btn-danger btn-lg" href="/html/about.html" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
      <div class="container-main">
        <div class="row">
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p><a class="btn btn-danger" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <hr>
      </div>
    </main>
  </div>
  </body>
