@import "~ng-uikit-pro-standard/assets/scss/core/colors";
@import "~ng-uikit-pro-standard/assets/scss/core/variables";
@import "~ng-uikit-pro-standard/assets/scss/core/variables-pro";

@import "~ng-uikit-pro-standard/assets/scss/addons-pro/_blog-pro.scss";

.card {
    width: 80%;
    margin:auto;
}

mdb-wysiwyg {
    width: 100%;
}

.button {
    padding: 1%;
}

input[type="file"] {
visibility: hidden;
}

.image-preview{
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
