<!-- Material input -->
<div class="card">
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <!-- Material input -->
        <div class="md-form form-group mt-5">
          <input mdbInput type="text" class="form-control" id="formGroupExampleInputMD" ngModel required name="title" placeholder="Enter Title Here">
          <label for="formGroupExampleInputMD"></label>
        </div>
        <mdb-wysiwyg required ngModel="content"></mdb-wysiwyg>
<div class="button">
<button type="submit" class="btn btn-success">Submit</button>
<button type="reset" class="btn btn-danger">Cancel</button></div>
    </form>
</div>